@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Mukta:wght@400;500;600;700&family=Nunito:wght@400;600;700&display=swap");

/* font-family: 'Fredoka One', cursive;
font-family: 'Mukta', sans-serif;
font-family: 'Nunito', sans-serif; */

:root {
  /* --primary-color: #7271da; */
  --primary-color: #5c5be7;
  /* --primary-alpha-color: #5b5be748; */
  --primary-alpha-color: #5b5be750;
  --secondary-color: #ffbd7b;
  --secondary-alpha-color: #ffd2a4b2;
  --tertiary-color: #ff848a;
  --tertiary-alpha-color: #ff7d84;
  --pink-color: rgba(245, 211, 233, 1);
  --text-color: rgb(247, 239, 239);
  --section-padding: 5em 2em;

  --transition: all 0.3s ease-in;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: "Nunito", sans-serif; */
  font-family: "Mukta", sans-serif;
}

body {
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

button {
  outline: 0;
  cursor: pointer;
  border: 1px solid var(--primary-color);
  background: var(--primary-color);
  padding: 0.5em 1.5em;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 30px;
  font-size: 0.8em;
}

.gradient {
  width: 100%;
  height: 15vh;
}

img {
  height: auto;
  width: 100%;
}

/* |||||||||||||||||||||||||||
   |||     Nav Section     |||
   ||||||||||||||||||||||||||| */

nav {
  /* min-height: 100vh; */
  width: 100vw;
  background: var(--secondary-color);
  /* background-image: url(./images/background-image.jpg);
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat; */
  display: flex;
  flex-direction: column;
}

.navbar-container {
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 80px;
  background: #ffbd7bc2;
  /* opacity: 0.5; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  z-index: 10;
}

.logo-container {
  height: 50px;
  display: flex;
}

.logo-container img {
  width: 50px;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  background-color: black;
}

.navbar-container ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.navbar-container .nav-item {
  list-style: none;
  height: 100%;
  padding: 0.5em;
}

.navbar-container ul li a {
  color: black;
  text-transform: uppercase;
  height: 100%;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 1px;
  padding: 1em 0;
}

.navbar-container .nav-item a::after {
  content: "";
  display: block;
  transform: translateY(10px);
  width: 0;
  height: 2px;
  background: var(--primary-color);
  transition: width 0.3s;
}

.nav-item a:hover::after {
  width: 100%;
}

.nav-item.current a {
  color: var(--primary-color);
}

/* |||||||||||||||||||||||||||
   |||    Banner Section   |||
   ||||||||||||||||||||||||||| */

.banner-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  margin-top: 120px;
}

.banner-content-left {
  display: flex;
  justify-content: center;
  min-width: 20px;
}

.banner-content-left img {
  width: 50%;
}

.banner-established {
  background: linear-gradient(
    180deg,
    var(--secondary-color) 0%,
    var(--primary-alpha-color) 100%
  );
}

/* ||||||||||||||||||||||||||||||||||
   |||     Established Section    |||
   |||||||||||||||||||||||||||||||||| */

.established {
  padding: var(--section-padding);
  background-color: var(--primary-alpha-color);
}

.established-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.established-left {
  display: flex;
  justify-content: center;
  min-width: 200px;
  /* padding-right: 5%; */
}

.established-left img {
  border-radius: 2rem;
}

.established-right {
  margin-top: 30px;
  min-width: 20px;
  display: flex;
  flex-direction: column;
}

.established-right h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: var(--primary-color);
  font-family: "Fredoka One", cursive;
}

.established-right h3 {
  color: var(--text-color);
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 1em;
  background-color: rgba(0, 0, 0, 0.85);
  width: fit-content;
  padding: 0 1em;
  border-radius: 20px;
}

.established-right a {
  font-family: "Fredoka One", cursive;
  color: black;
  text-transform: uppercase;
  font-size: 1.2em;
}

.established-right a:hover {
  color: var(--tertiary-alpha-color);
  transition: var(--transition);
}

.established-location {
  background: linear-gradient(
    180deg,
    rgba(203, 203, 248, 1) 0%,
    rgba(245, 211, 233, 1) 100%
  );
}

/* ||||||||||||||||||||||||||||||||
   |||     Location Section     |||
   |||||||||||||||||||||||||||||||| */

.location {
  padding: 5em 2em;
  background: var(--pink-color);
}

.location-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.location-card {
  max-width: 400px;
  background: white;
  border-radius: 1em;
  margin-bottom: 2em;
  transition: var(--transition);
}

.location h4 {
  padding: 0.5em 0;
  text-transform: uppercase;
  color: white;
  font-size: 1.5rem;
  letter-spacing: 1px;
  border-radius: 15px 15px 0 0;
  text-align: center;
  background: black;
  transition: var(--transition);
}

.location-card-info {
  padding: 32px;
  height: 250px;
}

.location p {
  font-size: 1.3rem;
  color: black;
  font-weight: 700;
  line-height: 25px;
  margin-bottom: 10px;
}

.location p span {
  font-weight: 400;
}

.location-card:hover {
  transform: scale(1.05);
}

.location-card:hover h4 {
  color: var(--tertiary-alpha-color);
}

.location-btn {
  padding: 0.5em 0;
  font-size: 1.2rem;
  color: white;
  text-align: center;
  border-radius: 0 0 15px 15px;
  background: var(--tertiary-color);
  text-transform: uppercase;
  font-weight: 700;
}

/* ||||||||||||||||||||||||||||||||
   |||     Sprinkle Section     |||
   |||||||||||||||||||||||||||||||| */

.sprinkle {
  width: 100%;
  height: 15vh;
  background: var(--primary-color);
  background-image: url(./images/blue-sprinkle.png);
  background-size: 6%;
}

/* |||||||||||||||||||||||||||
   |||    Media Queries    |||
   ||||||||||||||||||||||||||| */

/* /////////////// Hamburger Menu for Mobile //////////////// */

@media screen and (max-width: 768px) {
  nav {
    background-position: top;
    background-size: 100%;
  }
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .navbar-container ul {
    gap: 0;
    width: 100%;
  }

  .navbar-container ul li a {
    width: 100%;
    color: var(--text-color);
  }

  .navbar-container .nav-item a::after {
    background: var(--secondary-color);
  }

  .nav-links {
    position: fixed;
    flex-direction: column;
    top: -100%;
    right: 0.1px;
    background: var(--primary-color);
    text-align: center;
    transition: 0.3s;
    z-index: -1;
  }

  .nav-item {
    margin: 1.1rem 0;
  }

  .nav-links.active {
    top: 80px;
  }

  li.nav-item.current a {
    color: var(--secondary-color) !important;
  }
}

/* Responsive for Tablet */

@media screen and (min-width: 769px) {
  .established {
    padding: 5em 4em;
  }

  .established-container {
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
  }

  .established-left {
    padding-left: 5%;
    width: 600px;
  }

  .established-left img {
    width: 100%;
    overflow: hidden;
  }

  .established-right {
    margin-top: 0;
    height: 100%;
  }

  .established-right h1 {
    font-size: 2.75rem;
  }
  .established-right h3 {
    font-size: 1.2rem;
  }
  .established-right a {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1090px) {
  .location {
    padding: 5em 3em;
  }
  .location-container {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .location-card {
    width: 350px;
    margin: 0 1em;
    margin-bottom: 0;
  }
}

/* Responsive for Computer */

@media screen and (min-width: 1200px) {
  /* .banner-punchline {
    margin: 1.5em 1em 0 0;
    font-size: 5rem;
    max-width: 800px;
  }

  .banner-button {
    font-size: 1rem;
    width: 650px;
    margin-top: 40px;
  }

  .banner-description {
    margin: 1.5rem 0;
    margin-right: 2rem;
    max-width: 550px;
    font-size: 1.3rem;
  } */
}
